### Data Cleaning

In [1]:
import pandas as pd
import numpy as np

# from scipy.sparse import csr_matrix
# from pandas.api.types import CategoricalDtype

In [2]:
data = pd.read_csv("review.csv", on_bad_lines="skip", delimiter=";")
data.columns = ["user_id", "book_isbn", "rating"]
data

         user_id    book_isbn  rating
0         276725   034545104X       0
1         276726   0155061224       5
2         276727   0446520802       0
3         276729   052165615X       3
4         276729   0521795028       6
...          ...          ...     ...
1149770   276704   1563526298       9
1149771   276706   0679447156       0
1149772   276709   0515107662      10
1149773   276721   0590442449      10
1149774   276723  05162443314       8

[1149775 rows x 3 columns]

In [40]:
rated = data[data["rating"] != 0]
book_rating_count = {}
user_rating_count = {}

for isbn in rated["book_isbn"]:
    if isbn not in book_rating_count:
        book_rating_count[isbn] = 1
    else:
        book_rating_count[isbn] += 1

for user_id in rated["user_id"]:
    if user_id not in user_rating_count:
        user_rating_count[user_id] = 1
    else:
        user_rating_count[user_id] += 1

In [41]:
# Replace original IDs with numerical user IDs
def create_ids(original, min_num):
    ids = {}
    i = 0
    for k, v in original.items():
        if v >= min_num:
            if k not in ids:
                ids[k] = i
                i += 1
    return ids

book_ids = create_ids(book_rating_count, 10)
user_ids = create_ids(user_rating_count, 5)

In [76]:
# ratings: matrix to record book ratngs, 
# where users as rows and books as columns

ratings = np.zeros([len(user_ids), len(book_ids)])
for _, info in data.iterrows():
    u = info["user_id"]
    b = info["book_isbn"]
    rate = info["rating"]
    if u in user_ids and b in book_ids:
        i = user_ids[u]
        j = book_ids[b]
        ratings[i, j] = rate

In [77]:
df = pd.DataFrame(ratings)
df.to_csv("ratings.csv")

In [11]:
type(data["user_id"].unique())
#(data["book_isbn"].unique())

numpy.ndarray

In [9]:
max(data["user_id"])

278854

In [22]:
# Numerical book IDs
def create_ids(original):
    ids = {}
    i = 0
    for old_id in original:
        if old_id not in ids:
            ids[old_id] = i
            i += 1
    return ids

book_ids = create_ids(data["book_isbn"])
user_ids = create_ids(data["user_id"])

In [78]:
# import pandas as pd
# import numpy as np

# from scipy.sparse import csr_matrix
# from pandas.api.types import CategoricalDtype

# user_u = list(data.user_id.unique())
# book_u = list(data.book_isbn.unique())

# user_cat_type = CategoricalDtype(categories=user_u)
# book_cat_type = CategoricalDtype(categories=book_u)

# row = data.user_id.astype(user_cat_type)
# col = data.book_isbn.astype(book_cat_type)

# data_clean = data['rating'].tolist()

# sparse_matrix = csr_matrix((data, (row, col)), shape=(len(user_u), len(book_u)))

# df = pd.SparseDataFrame([ pd.SparseSeries(sparse_matrix[i].toarray().ravel(), fill_value=0) 
#                               for i in np.arange(sparse_matrix.shape[0]) ], 
#                        index=user_u, columns=book_u, default_fill_value=0)